.page-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-container {
        width: inherit;
        max-width: 1000px;

        .component-gap {
            width: inherit;
        }
    }
}
